@charset "UTF-8";

#wrap{
	width:1000px;
/*  	height:100px; */
	margin:auto;
}
#header{
	width:100%;
	height:20%;
	background-color:yellow;
}
#content{
	width:100%;
	height:60%;
	background-color:orange;
}
#footer{
	width:100%;
	height:20%;
	background-color:pink;
}

/* 밑으로 채팅!! */

#chat_icon{
	right:20px;
	bottom:40px;
	position:fixed;
}

#chat_window{
	width:300px;
	height:600px;
	position :fixed;
	right: 10px;
	bottom: 100px;
	background-color: #F1ECDA;
	border-radius:5%;
	display:none;
}

#callwrap{
	position:absolute;
	width:300px;
	height:600px;
	background-color: #A748FF;
	opacity:100%;
	z-index: 99;
	border-radius:5%;
	display: block;
}

#call{
	position: relative;
	width:250px;
	height: 50px;
	top: 350px;
	left: 30px;
	text-align: center;
	align-items: center;
}	

 
#messages{
	position:relative;
	width:100%;
	height: 400px;
	background-color:#F5F3EB;
	
	display:flex;  /*flex direction 사용하기 위함 */
	flex-direction: column-reverse; /*스크롤 하단 고정 */
    overflow-y:auto;  /* 내용이 설정된 height을 넘기면 자동으로 스크롤 생성 */

	border-radius: 5% 5% 0% 0%;
}


#messages::-webkit-scrollbar {
   	width: 8px;
	 }
 	#messages::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
 }
 	#messages::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
 	}

#btnbox{
	height:150px;
	background-color: white;
	border-radius:0% 0% 5% 5%;
}

#closebtn{
	float:right;
}
#inputtext{
	border:1px solid white;
	style="margin:5px;"
 }
 
 
.fromM{/* 내 메세지 div */
	text-align:right;
	margin :8px;
	margin-left:60px;
}
	.fromC{ /* 내가 아닌 메세지 div  */ 
	margin :8px;
	margin-right:60px;
	font-weight: 500;
}
.mTag{/* 내용에 입힐 CSS */
	margin:3px;
}
.cTag{/* */
	margin:0;
	font-weight: 700;
}

