<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.AccomMapper">
	<select id="accom_search" resultType="arJoin" parameterType="hashmap">
		select accom_service_number,cate_number,accom_name,avgpoint,rcnt,min(accom_price) minp,max(accom_price) maxp
		from(
		select accom_service_number,accom_service.cate_number,accom_name,nvl(avg(star_point),0) avgpoint,count(review_number) rcnt 
		from accom_service left join review
		on accom_service_number=service_number and accom_service.cate_number=review.cate_number
		group by accom_service_number,accom_service.cate_number,accom_name
		having
		accom_service_number in(
		select accom_service_number from accom_option left join accom_book 
		on accom_option.accom_option_number = accom_book.accom_option_number
		<where>
		<![CDATA[
		(not (accom_startdate < #{endDate}
		and accom_enddate > #{startDate})
		or (accom_startdate is null and accom_enddate is null))
		and accom_max_people>=#{count}
		)
		]]>
		<if test="keyword!=null">
		and accom_service_number in(
		select accom_service_number from accom_service where accom_name like '%'||#{keyword}||'%'
		)
		</if>
		<if test="facility!=null">
		and accom_service_number in(
		select accom_service_number from accom_service natural join accom_info where
		<foreach collection="facility" item="fitem" index='i' separator="and">
		facility like '%'||#{fitem}||'%'
		</foreach>
		)
		</if>
		<if test="conven!=null">
		and accom_service_number in(
		select accom_service_number from accom_service natural join accom_info where
		<foreach collection="conven" item="citem" index='i' separator="and">
		conven like '%'||#{citem}||'%'
		</foreach>
		)
		</if>
		<if test="maxprice!=null">
		<![CDATA[
		and accom_service_number in(
		select accom_service_number from accom_option left join accom_book 
		on accom_option.accom_option_number = accom_book.accom_option_number
		where accom_price<=#{maxprice})
		]]>
		</if>
		<if test="category!=null">
		and accom_service.cate_number=#{category}
		</if>
		</where>
		) natural join accom_option group by accom_service_number,cate_number,accom_name,avgpoint,rcnt
		<if test="classification!=null">
			<if test="classification==1">
				order by avgpoint desc
			</if>
			<if test="classification==2">
				order by rcnt desc
			</if>
			<if test="classification==3">
				order by minp
			</if>
			<if test="classification==4">
				order by maxp desc
			</if>
		</if>
	</select>
	<select id="accom_minprice_search" parameterType="hashmap" resultType="hashmap">
		select min(accom_price) minp,max(accom_price) maxp from accom_option group by accom_service_number
		having accom_service_number in
		<foreach collection="snum" item='item' index='i' open="(" close=")" separator=",">
		 #{item}
		</foreach>
		<if test="classification!=null">
			<if test="classification==3">
				order by minp
			</if>
			<if test="classification==4">
				order by maxp desc
			</if>
		</if>
	</select>
	<select id="accom_info_detail" parameterType="int" resultType="accomInfo">
		select * from accom_info where accom_service_number=#{accom_service_number}
	</select>
	<select id="accom_service_detail" parameterType="int" resultType="accomService">
		select * from accom_service where accom_service_number=#{accom_service_number}
	</select>
	<select id="accom_service_detail_forId" parameterType="string" resultType="accomService">
		select * from accom_service where user_accom_boss_name=#{user_id}
	</select> 
	
	<select id="accom_option_detail" parameterType="hashmap" resultType="accomOption">
		select * from accom_option where accom_service_number=#{accomNum} 
		<![CDATA[
		and accom_max_people>=#{count}
		]]>
	</select>
	<select id="isUsing" parameterType="hashmap" resultType="int">
		select count(*) from accom_book where accom_option_number=#{optNum}
		<![CDATA[
		and accom_startdate < #{endDate}
		and accom_enddate > #{startDate}
		]]>
	</select>
	<select id="howLong" parameterType="hashmap" resultType="int">
		<![CDATA[
		SELECT trunc(to_date(#{endDate},'yyyy-mm-dd')) - trunc(to_date(#{startDate},'yyyy-mm-dd')) howLong 
		FROM DUAL
		]]>
	</select>
	<!-- 대표하는 이미지 한개만 뽑기 -->
	<select id="accom_represent_image" parameterType="int" resultType="image">
		select * from image where img_num=
		(
		select min(img_num) from image 
		where cate_number in(2,3,4,5) and general_number=#{general_number}
		)
	</select>
	<select id="accom_whole_image" parameterType="int" resultType="image">
		select * from image where cate_number in(2,3,4,5) and general_number=#{general_number}
	</select>
	<select id="accom_room_image" parameterType="int" resultType="image">
		select * from image where cate_number=555 and general_number=#{general_number}
	</select>
	<!-- 개별 방에 해당하는 상세정보 -->
	<select id="accom_room_detail" parameterType="int" resultType="accomOption">
		select * from accom_option where accom_option_number=#{accom_option_number}
	</select>
	<!-- 해당 숙소의 평점 -->
	<select id="accom_star_point" parameterType="hashmap" resultType="int">
		select nvl(avg(star_point),0) from review where cate_number=#{cate_number} and service_number=#{service_number}
	</select>
	<!-- 해당 숙소의 리뷰리스트 -->
	<select id="accom_review_list" parameterType="int" resultType="review">
		select * from review where cate_number in(2,3,4,5) and service_number=#{service_number}
	</select>
	<!-- 숙소리뷰에 대한 대표사진 한장 -->
	<select id="accom_review_img" parameterType="int" resultType="image">
		select * from image where img_num=
		(select min(img_num) from image where cate_number=55 and general_number=#{general_number})
	</select>
	<!-- 숙소 이름들 가져오기 -->
	<select id="accomNameList" parameterType="string" resultType="string">
		select accom_name from accom_service where accom_name like '%'||#{searchValue}||'%'
	</select>
</mapper>