<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.AccomMapper">
	<select id="accom_search" resultType="accomService" parameterType="hashmap">
		select * from accom_service where
		accom_service_number in(
		select accom_service_number from accom_option left join accom_book 
		on accom_option.accom_option_number = accom_book.accom_option_number
		<where>
		<![CDATA[
		not (accom_startdate < #{endDate}
		and accom_enddate > #{startDate})
		or (accom_startdate is null and accom_enddate is null)
		and accom_max_people>=#{count}
		)
		]]>
		<if test="facility!=null">
		and accom_service_number in(
		select accom_service_number from accom_service natural join accom_info where
		<foreach collection="facility" item="fitem" index='i' separator="and">
		facility like '%'||#{fitem}||'%'
		</foreach>
		)
		</if>
		<if test="conven!=null">
		and accom_service_number in(
		select accom_service_number from accom_service natural join accom_info where
		<foreach collection="conven" item="citem" index='i' separator="and">
		conven like '%'||#{citem}||'%'
		</foreach>
		)
		</if>
		<if test="maxprice!=null">
		<![CDATA[
		and accom_service_number in(
		select accom_service_number from accom_option left join accom_book 
		on accom_option.accom_option_number = accom_book.accom_option_number
		where accom_price<=#{maxprice})
		]]>
		</if>
		<if test="category!=null">
		and cate_number=#{category}
		</if>
		</where>
	</select>
	<select id="accom_minprice_search" parameterType="hashmap" resultType="hashmap">
		select min(accom_price) minp,max(accom_price) maxp from accom_option group by accom_service_number
		having accom_service_number in
		<foreach collection="snum" item='item' index='i' open="(" close=")" separator=",">
		 #{item}
		</foreach>
	</select>
	<select id="accom_info_detail" parameterType="int" resultType="accomInfo">
		select * from accom_info where accom_service_number=#{accom_service_number}
	</select>
	<select id="accom_service_detail" parameterType="int" resultType="accomService">
		select * from accom_service where accom_service_number=#{accom_service_number}
	</select>
	<select id="accom_option_detail" parameterType="int" resultType="accomOption">
		select * from accom_option where accom_service_number=#{accom_service_number}
	</select>
	<select id="accom_whole_image" parameterType="int" resultType="image">
		select * from image where cate_number not in(1) and general_number=#{general_number}
	</select>
</mapper>