<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.BookingMapper">
	<select id="accomBookingList" parameterType="hashmap" resultType="accomBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from accom_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and accom_enddate>=sysdate
		        order by accom_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="accomBookingCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from accom_book where user_id=#{user_id} 
		and not payment_condition='결제취소'
		<![CDATA[
		and accom_enddate>=sysdate
		]]>
	</select>
	<!-- 지난 여행 리스트 -->
	<select id="accompastList" parameterType="hashmap" resultType="accomBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from accom_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and accom_enddate<sysdate
		        order by accom_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="accompastCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from accom_book where user_id=#{user_id} 
		and not payment_condition='결제취소'
		<![CDATA[
		and accom_enddate<sysdate
		]]>
	</select>
	<!-- 숙소 취소리스트 -->
	<select id="accomCancelList" parameterType="string" resultType="accomBookVo">
        select * from accom_book 
        where user_id=#{user_id}
        and payment_condition='결제취소'
        order by accom_book_number desc
	</select>
	<!-- 예약 취소 -->
	<update id="accomCancel" parameterType="int">
	<![CDATA[
		update accom_book 
		set accom_enddate=null,payment_condition='결제취소',total_price=
		case 
		when accom_startdate=sysdate then total_price
		when accom_startdate<=sysdate+1 then total_price*0.7
		when accom_startdate<=sysdate+2 then total_price*0.5
		when accom_startdate<=sysdate+3 then total_price*0.3
		when accom_startdate<=sysdate+4 then total_price*0.2
		when accom_startdate<=sysdate+5 then total_price*0.1
		else 0
		end
		,accom_startdate=null
		where accom_book_number=#{accom_book_number}
	]]>
	</update>
	<!-- tour예약 리스트 -->
	<select id="tourBookingList" parameterType="hashmap" resultType="tourBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from tour_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and tour_enddate>=sysdate
		        order by tour_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="tourBookingCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from tour_book where user_id=#{user_id}
		and not payment_condition='결제취소'
		<![CDATA[
		and tour_enddate>=sysdate
		]]>
	</select>
	<!-- 지난tour리스트 -->
	<select id="tourpastList" parameterType="hashmap" resultType="tourBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from tour_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and tour_enddate<sysdate
		        order by tour_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="tourpastCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from tour_book where user_id=#{user_id}
		and not payment_condition='결제취소'
		<![CDATA[
		and tour_enddate<sysdate
		]]>
	</select>
	<!-- tour취소 리스트 -->
	<select id="tourCancelList" parameterType="string" resultType="tourBookVo">
        select * from tour_book 
        where user_id=#{user_id}
        and payment_condition='결제취소'
        order by tour_book_number desc
	</select>
</mapper>