<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.BookingMapper">
	<select id="accomBookingList" parameterType="hashmap" resultType="accomBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from accom_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and accom_enddate>=sysdate
		        order by accom_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="accomBookingCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from accom_book where user_id=#{user_id} 
		and not payment_condition='결제취소'
		<![CDATA[
		and accom_enddate>=sysdate
		]]>
	</select>
	<!-- 지난 여행 리스트 -->
	<select id="accompastList" parameterType="hashmap" resultType="accomBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from accom_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and accom_enddate<sysdate
		        order by accom_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="accompastCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from accom_book where user_id=#{user_id} 
		and not payment_condition='결제취소'
		<![CDATA[
		and accom_enddate<sysdate
		]]>
	</select>
	<!-- 숙소 취소리스트 -->
	<select id="accomCancelList" parameterType="string" resultType="accomBookVo">
        select * from accom_book 
        where user_id=#{user_id}
        and payment_condition='결제취소'
        order by accom_book_number desc
	</select>
	<!-- 예약 취소 -->
	<select id="getUsedPointA" parameterType="int" resultType="int">
		select nvl(point_useamount,0) from accom_book where accom_book_number=#{accom_book_number}
	</select>
	<update id="pointRefund" parameterType="hashmap">
		update user_info set user_point=user_point+#{user_point}
		where user_id=#{user_id}
	</update>
	<update id="accomCancel" parameterType="int">
	<![CDATA[
		update accom_book 
		set accom_enddate=null,payment_condition='결제취소',total_price=
		case 
		when accom_startdate=sysdate then total_price
		when accom_startdate<=sysdate+1 then trunc(total_price*0.7,0)
		when accom_startdate<=sysdate+2 then trunc(total_price*0.5,0)
		when accom_startdate<=sysdate+3 then trunc(total_price*0.3,0)
		when accom_startdate<=sysdate+4 then trunc(total_price*0.2,0)
		when accom_startdate<=sysdate+5 then trunc(total_price*0.1,0)
		else 0
		end
		,accom_startdate=null,point_useamount=0
		where accom_book_number=#{accom_book_number}
	]]>
	</update>
	<!-- tour예약 리스트 -->
	<select id="tourBookingList" parameterType="hashmap" resultType="tourBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from tour_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
		        order by tour_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="tourBookingCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from tour_book where user_id=#{user_id}
		and not payment_condition='결제취소'
		<![CDATA[
		and tour_enddate>=sysdate
		]]>
	</select>
	<!-- 지난tour리스트 -->
	<select id="tourpastList" parameterType="hashmap" resultType="tourBookVo">
		select * from
		(
		    select a.*,rownum rnum from
		    (
		    	<![CDATA[
		        select * from tour_book 
		        where user_id=#{user_id}
		        and not payment_condition='결제취소'
				and tour_enddate<sysdate
		        order by tour_book_number desc
		        ]]>
		    ) a
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="tourpastCount" parameterType="string" resultType="int">
		select NVL(count(*),0) cnt from tour_book where user_id=#{user_id}
		and not payment_condition='결제취소'
		<![CDATA[
		and tour_enddate<sysdate
		]]>
	</select>
	<!-- tour취소 리스트 -->
	<select id="tourCancelList" parameterType="string" resultType="tourBookVo">
        select * from tour_book 
        where user_id=#{user_id}
        and payment_condition='결제취소'
        order by tour_book_number desc
	</select>
	<!-- tour결제취소 -->
	<select id="getUsedPointT" parameterType="int" resultType="int">
		select nvl(point_useamount,0) from tour_book where tour_book_number=#{tour_book_number}
	</select>
	<update id="tourCancel" parameterType="int">
	<![CDATA[
		update tour_book 
		set payment_condition='결제취소',total_price=
		case 
		when tour_enddate is null and tour_startdate+7<=sysdate then 0
        when tour_enddate is null and tour_startdate+7>sysdate then trunc(total_price*0.9,0)
        when tour_enddate is not null and tour_startdate+7<=sysdate then 0
        when tour_enddate is not null and tour_enddate>sysdate+7 then trunc(total_price*0.9,0)
        when tour_enddate is not null and tour_enddate<=sysdate+7 then total_price
		end
		,tour_startdate=null,tour_enddate=null,point_useamount=0
		where tour_book_number=#{tour_book_number}
	]]>
	</update>
	<delete id="tourBookOptionDel" parameterType="int">
		delete from tour_book_option where tour_book_number=#{tour_book_number}
	</delete>
	<!-- tourBookDetail -->
	<select id="tourBookDetail" parameterType="int" resultType="tourBookOption">
		select * from tour_book_option where tour_book_number=#{tour_book_number}
	</select>
</mapper>