<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.tour.mapper.Customercenter_answerMapper">
  
  <sql id="search">
		<if test="field!=null and field!=''">
			and ${field} like '%'|| #{keyword} ||'%'
		</if>
	</sql>
	
		<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from customercenter_answer
		<if test="field!=null and field!=''">
			where ${field} like '%'|| #{keyword} ||'%'
		</if>
	</select>
  
  <insert id="insert" parameterType="customercenter_answer">
		insert into customercenter_answer
		values(customercenter_answer_seq.nextval,#{question_number},#{answer_title},#{answer_content},sysdate,#{user_id})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from customercenter_answer
		where answer_number=#{answer_number}
	</delete>
  	
  	<select id="list" resultType="customercenter_answer" parameterType="hashmap"> 
		select * 
		from (
				select rownum as rn, A.* 
				from (select ca.* from 
				customercenter c, customercenter_answer ca 
				where c.question_number=ca.question_number
				<include refid="search"/> 
				order by answer_number desc
				) A 
			) where rn between #{startRow} and #{endRow}
			</select>
  	
  	<select id="select" resultType="customercenter_answer" parameterType="int">
		select * from customercenter_answer where answer_number=#{answer_number}
	</select>
	
		<update id="update" parameterType="customercenter_answer">
		update customercenter_answer set answer_title=#{answer_title}, answer_content=#{answer_content}
		where answer_number=#{answer_number} 
		</update>
		
		<select id="next" parameterType="int" resultType="customercenter_answer">
		select * from
		(
			select * from customercenter_answer where answer_number>#{answer_number} order by answer_number asc
		)
		where rownum=1
	</select>
	
	<select id="prev" parameterType="int" resultType="customercenter_answer">
	<![CDATA[
		select * from
		(
			select * from customercenter_answer where answer_number<#{answer_number} order by answer_number desc
		)
		where rownum=1
		]]>
	</select> 
		
	
  	
  </mapper>