<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.MemberManageMapper">
<select id="couponList" resultType="couponVo" parameterType="hashmap">
	select * from
	(
	    select a.*,rownum rnum from
	    (
	        select coupon_name,discount_price,expire_date from coupon
	        group by coupon_name,discount_price,expire_date 
	        <if test="field!=null and field!=''">
		        <if test="picker!=null and picker!=''">
		        	<![CDATA[ having ${field} <= #{picker} ]]>
		        </if>
		        <if test="keyword!=null and keyword!=''">
					having ${field} like '%'||#{keyword}||'%' 
				</if>
			</if>
	        order by coupon_name desc
	    ) a
	)
	<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
</select>

<select id="couponCount" resultType="int" parameterType="hashmap">
	select NVL(count(*),0) cnt from coupon
	<if test="field!=null and field!=''">
		<if test="picker!=null and picker!=''">
        	<![CDATA[ where ${field} <= #{picker} ]]>
        </if>
        <if test="keyword!=null and keyword!=''">
			where ${field} like '%'||#{keyword}||'%' 
		</if>
	</if>
</select>

<insert id="createCoupon" parameterType="hashmap">
	insert into coupon
	select coupon_seq.nextval,#{coupon_name},user_id,#{discount_price},#{expire_date, jdbcType=DATE},0 
	from user_info 
	where upper(user_grade) in
	<foreach collection="user_grade" item="item" open="(upper(" close="))" separator="),upper(">
	#{item}
	</foreach>
</insert>

<delete id="disposalCoupon">
<![CDATA[
	delete from coupon where coupon_usecondition=1 or expire_date < sysdate
]]>
</delete>

<delete id="deleteCoupon" parameterType="hashmap">
	delete from coupon where coupon_name=#{coupName} 
	and discount_price=#{discount}
	<if test="expire!=null">
	and expire_date=#{expire}
	</if>
	<if test="expire==null">
	and expire_date is null
	</if>
</delete>
</mapper>