<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.ServiceMapper">
	<select id="selectAccomServiceList" resultType="com.spring.tour.vo.Accom_serviceVo" parameterType="string">
		select * from accom_service where user_accom_boss_name=#{user_accom_boss_name}
	</select>
	<select id="selectTourServiceList" resultType="com.spring.tour.vo.TourServiceVo" parameterType="string">
		select * from tour_service where user_id=#{user_id}
	</select>
	<select id="selectAccomService" resultType="com.spring.tour.vo.Accom_serviceVo" parameterType="string">
		select * from accom_service where accom_service_number=#{accom_service_number}
	</select> 
	<select id="selectAccomServiceMax" resultType="string" parameterType="string">
		select max(accom_service_number) from accom_service where user_accom_boss_name=#{user_accom_boss_name}
	</select> 
	<select id="selectTourServiceMax" resultType="string" parameterType="string">
		select max(service_number) from tour_service where user_id=#{user_id}
	</select> 
	<select id="selectAccomOptioneMax" resultType="string" parameterType="string">
		select max(accom_option_number) from accom_option where accom_service_number=#{accom_service_number}
	</select> 
	<select id="selectAccomInfo" resultType="com.spring.tour.vo.AccomInfoVo" parameterType="string">
		select * from accom_info where accom_service_number=#{accom_service_number}
	</select>
	<select id="selectAccomOptionList" resultType="com.spring.tour.vo.AccomOptionVo" parameterType="string">
		select * from accom_option where accom_service_number=#{accom_service_number}
	</select>
	<select id="selectAccomOption" resultType="com.spring.tour.vo.AccomOptionVo" parameterType="string">
		select * from accom_option where accom_option_number=#{accom_option_number}
	</select>
	<select id="selectTourList" resultType="com.spring.tour.vo.TourServiceVo" parameterType="string">
		select * from tour_service where user_id=#{user_id}
	</select>
	<select id="selectImageList" resultType="com.spring.tour.vo.ImageVo" parameterType="com.spring.tour.vo.ImageVo">
		select * from image where general_number=#{general_number} and cate_number=#{cate_number}
	</select>
	
	<insert id="insertAccomService" parameterType="com.spring.tour.vo.Accom_serviceVo">
		insert into accom_service values((select nvl(max(accom_service_number)+1,0) from accom_service),#{cate_number},#{user_accom_boss_name},#{accom_name},#{accom_addr})
	</insert>
	<insert id="insertAccomInfo" parameterType="com.spring.tour.vo.AccomInfoVo">
		insert into accom_info values((select nvl(max(accom_info_number)+1,0) from accom_info),#{accom_service_number},#{accom_info_content},#{accom_how},#{accom_rule},#{accom_chekinfo},#{facility},#{conven})
	</insert>
	<insert id="insertTourService" parameterType="com.spring.tour.vo.TourServiceVo">
		insert into tour_service values((select nvl(max(service_number)+1,0) from tour_service),#{cate_number},#{user_id},#{tour_name},#{tour_addr},#{tour_type})
	</insert>
	<insert id="insertTourInfo" parameterType="com.spring.tour.vo.Tour_infoVo">
		insert into tour_info values((select nvl(max(tour_info_number)+1,0) from tour_info),#{service_number},#{tour_content},#{tour_how},#{tour_rule},#{tour_warn})
	</insert>
	<insert id="insertAccomOption" parameterType="com.spring.tour.vo.AccomOptionVo">
		insert into accom_option values((select nvl(max(accom_option_number)+1,0) from accom_option),#{accom_service_number},#{accom_rooms_option},#{accom_min_people},#{accom_max_people},#{accom_price},#{discount})
	</insert>
	<insert id="insertImg" parameterType="com.spring.tour.vo.ImageVo">
		insert into image values((select nvl(max(img_num)+1,0) from image),#{imgorgname},#{imgsavename},#{general_number}, #{cate_number})
	</insert>
	
	<update id="updateAccomService" parameterType="com.spring.tour.vo.Accom_serviceVo">
		update accom_service set cate_number=#{cate_number}, accom_name=#{accom_name}, accom_addr=#{accom_addr} where accom_service_number=#{accom_service_number}
	</update>
	<update id="updateAccomInfo" parameterType="com.spring.tour.vo.AccomInfoVo">
		update accom_info set accom_info_content=#{accom_info_content}, accom_how=#{accom_how}, accom_rule=#{accom_rule}, accom_chekinfo=#{accom_chekinfo}, facility=#{facility}, conven=#{conven} where accom_service_number=#{accom_service_number}
	</update>
	<update id="updateAccomOption" parameterType="com.spring.tour.vo.AccomOptionVo">
		update accom_option set accom_rooms_option=#{accom_rooms_option}, accom_min_people=#{accom_min_people}, accom_max_people=#{accom_max_people}, accom_price=#{accom_price}, discount=#{discount} where accom_option_number=#{accom_option_number}
	</update>
	
	<delete id="deleteAccomService" parameterType="string">
		delete from accom_service where accom_service_number=#{accom_service_number}
	</delete>
	<delete id="deleteAccomInfo" parameterType="string">
		delete from accom_Info where accom_service_number=#{accom_service_number}
	</delete>
	<delete id="deleteAccomOption" parameterType="string">
		delete from accom_option where accom_option_number=#{accom_option_number}
	</delete>
	<delete id="deleteImg" parameterType="com.spring.tour.vo.ImageVo">
		delete from image where general_number=#{general_number} and cate_number=#{cate_number}
	</delete>
</mapper>