<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.tour.mapper.TourPageMapper">
 		<!-- 투어의 첫화면 DATA -->
 	<select id="mainlist" resultType="tourpage">
		select * from (
		    select distinct img_num, imgsavename, e.service_number, e.cate_number, tour_name, tour_type, avgpoint, tour_price, tour_amount  from  
		    (
		         select img_num,imgsavename, b.service_number, a.cate_number, tour_name,tour_type  from 
		            (           
		                select * from image where img_num in (select min(img_num) from image group by general_number))
		                a join (
		                select tour_name, cate_number, service_number, tour_type from tour_service)
		                b on a.cate_number=b.cate_number and general_number = service_number
		            )e join (
		        select avgpoint, cate_number,c.service_number, tour_price,tour_amount from 
		            (
		                select avg(star_point) avgpoint, cate_number, service_number from review group by service_number,cate_number,service_number order by service_number)
		                c join (
                       select * from tour_option where (service_number, tour_option_index, tour_price) in 
                        (select service_number, min(tour_option_index), min(tour_price) from tour_option where (service_number, tour_price) in 
                        (select service_number, min(tour_price) from tour_option where tour_amount>0 group by service_number) group by service_number))
		                d on c.service_number = d.service_number
		            )f on e.cate_number=f.cate_number and e.service_number = f.service_number order by avgpoint desc
		) <![CDATA[where rownum <=8]]>
 	</select>
 	
 	<select id="selectlist" parameterType="hashmap" resultType="wishlist">
<if test="user_id!=null">
select i.cate_number,i.service_number, tour_type, tour_name, nvl(avgpoint,0) avgpoint, nvl(rcnt,0) rcnt, img_num, imgsavename, tour_price, tour_amount, discount, nvl(dcnt,0) dcnt, tour_expire, user_id, dcprice from(
</if> 
	  select g.cate_number,g.service_number, tour_type, tour_name, nvl(avgpoint,0) avgpoint,  nvl(rcnt,0) rcnt, img_num, imgsavename, tour_price, tour_amount, discount,  nvl(dcnt,0) dcnt, tour_expire, nvl(tour_price-tour_price/100*discount,tour_price) dcprice from (
        select distinct  e.cate_number, e.service_number, tour_type, tour_name, avgpoint, rcnt, img_num, imgsavename,  tour_price, tour_amount, discount, dcnt  from 
		    (
		         select img_num,imgsavename, b.service_number, a.cate_number, tour_name,tour_type  from 
		            (           
		                 select * from image where (img_num,cate_number) in (select min(img_num) img_num, cate_number from image group by general_number, cate_number having cate_number=1))
		                a join (
		                select tour_name, cate_number, service_number, tour_type from tour_service)
		                b on a.cate_number=b.cate_number and general_number = service_number
		            )e join (
		         select avgpoint, rcnt, nvl(cate_number,1)cate_number, d.service_number, tour_price, tour_amount, discount ,dcnt from 
                    (
                       select avg(star_point) avgpoint, count(review_number)rcnt, cate_number, service_number from review group by service_number,cate_number,service_number having cate_number = 1 )
                        c right join (
                           select aa.service_number, tour_price, tour_amount, dcnt, discount from
                            (
                                select service_number, tour_price, max(discount) discount, max(tour_amount)tour_amount from
                                (
                                    select service_number, tour_price, discount, tour_amount from tour_option 
                                    where (service_number, tour_price) in (select service_number, min(tour_price) tour_price from (select * from tour_option where tour_amount >0) group by service_number) order by service_number
                                ) 
                                group by service_number, tour_price order by service_number
                            )aa left join (
                        select service_number, count(discount) dcnt from( select service_number, discount from tour_option where discount!=0) group by service_number
                        )bb on aa.service_number=bb.service_number
                       )d on c.service_number = d.service_number
		            )f on e.cate_number=f.cate_number and e.service_number = f.service_number 
		)g join (select tour_expire,service_number from tour_info)h on g.service_number = h.service_number order by avgpoint desc
<if test="user_id!=null">
    )i left join (select service_number, user_id from wishlist where user_id=#{user_id})j on i.service_number = j.service_number order by avgpoint desc
</if>
		<where>
			<![CDATA[
			((tour_expire <= #{endDate} and tour_expire >= #{startDate})
			or (tour_expire is null))
			]]>
			<if test="tourType!=null">
				<if test="tourType==1">
					and tour_type='티켓/패스'
				</if>
				<if test="tourType==2">
					and tour_type='테마파크'
				</if>
				<if test="tourType==3">
					and tour_type='취미/클래스'
				</if>
				<if test="tourType==4">
					and tour_type='맛집'
				</if>
			</if>
			<if test="keyword!=null">
				and tour_name like '%'||#{keyword}||'%'
			</if>
			<if test="targetPoint!=null">
				and avgpoint >= #{targetPoint}
			</if>
			<if test="targetPrice!=null">
				<![CDATA[and dcprice<= #{targetPrice}]]>
			</if>
			<if test="isDiscount!=false">
				and dcnt != 0
			</if>
			<if test="classification!=null">
				<if test="classification==1">
					order by avgpoint desc
				</if>
				<if test="classification==2">
					order by rcnt desc
				</if>
				<if test="classification==3">
					order by dcprice
				</if>
				<if test="classification==4">
					order by dcprice desc
				</if>
			</if>
		</where>
 	</select> 	

 	
 	<!-- ///////////////////////////투어 상세페이지 데이터 ///////////////////////////-->
 	<select id="detaillist" parameterType="hashmap" resultType="tourdetail">
		select cate_number, e.service_number, minp, tour_addr, tour_name, tour_expire, tour_how, tour_rule, avgpoint from 
		(
		    select  cate_number, c.service_number, minp, tour_addr, tour_name, tour_expire, tour_how, tour_rule from 
		    (
		        select cate_number,a.service_number, minp, tour_addr, tour_name from 
		        (
		            select min(tour_price)minp, service_number from tour_option where service_number=#{service_number}group by service_number
		            )a join
		                (select cate_number,tour_addr, tour_name, service_number from tour_service where cate_number=#{cate_number} and service_number = #{service_number})b
		        on a.service_number=b.service_number
		    )c join
		        (select service_number, tour_expire, tour_how, tour_rule from tour_info where service_number =#{service_number})d
		    on c.service_number = d.service_number
		)e join 
			(select service_number, avg(star_point)avgpoint from review where service_number =#{service_number} and cate_number = #{cate_number} group by service_number
		)f
		on e.service_number = f.service_number
 	</select>
 	
 	<!-- 투어 옵션 정보만 따로  -->
 	<select id="tour_option_list" parameterType="int" resultType="touroption">
 		select tour_price, service_number, tour_option_index, tour_option, tour_amount from tour_option where service_number =#{service_number} and <![CDATA[tour_amount > 0]]>
 	</select>
 	
 	<!-- 투어에 딸린 이벤트 실황 사진들  -->
 	<select id="tour_detail_image" parameterType="int" resultType="image">
 		select * from image where cate_number=1 and general_number=#{service_number}
 	</select>
 	
 	<!-- 투어 디테일 설명 팜플릿 -->
 	<select id="tour_detail_pamphlet" parameterType="int" resultType="image">
 		select * from image where cate_number=111 and general_number=#{service_number}
 	</select>
 	
 	<!-- wishlist에 저장된 파일인지 아닌지 체크 -->
 	<select id="tour_detail_isinwish" parameterType="hashmap" resultType="wishlist">
 		select * from wishlist where cate_number=#{cate_number} and service_number=#{service_number} and user_id=#{user_id}
 	</select>

	<resultMap type="tourreview" id="tour_review">
 		<result property="review_number" column="review_number"/>
 		<result property="user_id" column="user_id"/>
 		<result property="service_number" column="service_number"/>
 		<result property="star_point" column="star_point"/>
 		<result property="review_content" column="review_content"/>
 		<result property="review_comment" column="review_comment"/>
 		<result property="cate_number" column="cate_number"/>
 		<collection property="imglist" ofType="image">
 			<result property="img_num" column="img_num"/>
 			<result property="imgorgname" column="imgorgname"/>
 			<result property="imgsavename" column="imgsavename"/>
 			<result property="general_number" column="general_number"/>
 			<result property="cate_number" column="categorynum"/>
 		</collection>
 	</resultMap>
 	<select id="tour_review_list" parameterType="hashmap" resultMap="tour_review">
 		select * from (select * from review where cate_number =#{cate_number}and service_number = #{service_number} order by review_number desc)a left join 
		(select img_num, imgorgname, imgsavename, general_number, cate_number categorynum from image where cate_number =11 and general_number=#{service_number})b on a.service_number= b.general_number
 	</select>
 	<!-- //////////기홍 쿼리 추가///////// -->
 	<select id="get_tourService" parameterType="int" resultType="touroption">
 		select * from tour_option where tour_option_number=#{tour_option_number}
 	</select>
 	<select id="get_tour_detail" parameterType="int" resultType="tourservice">
 		select * from tour_service where service_number=#{service_number}
 	</select>
 	<select id="tour_service_forId" parameterType="String" resultType="tourservice">
 		select * from tour_service where user_id=#{user_id}
 	</select>
  </mapper>