<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.tour.mapper.UserMapper">
	<insert id="user_insert" parameterType="userinfo">
		insert into user_info values(
		#{user_id},
		#{user_pass},
		#{user_name},
		'Bronze',
		#{user_email},
		#{user_addr},
		#{user_phone},
		#{user_condition},
		'0')
	</insert>
	<insert id="user_auth" parameterType="hashmap">
	
	</insert>
	
</mapper>