<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.tour.mapper.WishlistMapper">
	<insert id="insert" parameterType="hashmap">
  		insert into wishlist values(wish_seq.nextval,#{cate_number},#{service_number},#{user_id})
 	</insert>
 	
 	<select id="list" parameterType="string" resultType="wishlist">
 		select g.cate_number,g.service_number, wishnum, user_id, tour_type, tour_name, nvl(avgpoint,0)avgpoint, nvl(rcnt,0)rcnt, img_num, imgsavename, tour_price, tour_amount, discount, nvl(dcnt,0)  from (
		    select distinct  e.cate_number, e.service_number, tour_type, tour_name, avgpoint, rcnt, img_num, imgsavename,  tour_price, tour_amount, discount, dcnt  from 
		    (
		        select img_num,imgsavename, b.service_number, a.cate_number, tour_name,tour_type  from 
		            (           
		                 select * from image where (img_num,cate_number) in (select min(img_num) img_num, cate_number from image group by general_number, cate_number having cate_number=1))
		                a join (
		                select tour_name, cate_number, service_number, tour_type from tour_service)
		                b on a.cate_number=b.cate_number and general_number = service_number
		            )e join (
		          select avgpoint, rcnt, nvl(cate_number,1)cate_number, d.service_number, tour_price, tour_amount, discount ,dcnt from 
		            (
		                select avg(star_point) avgpoint, count(review_number)rcnt, cate_number, service_number from review group by service_number,cate_number,service_number order by service_number)
		                c right join (
                            select aa.service_number, tour_price, tour_amount, dcnt, discount from
                            (
                                select service_number, tour_price, max(discount) discount, max(tour_amount)tour_amount from
                                (
                                    select service_number, tour_price, discount, tour_amount from tour_option 
                                    where (service_number, tour_price) in (select service_number, min(tour_price) tour_price from (select * from tour_option where tour_amount >0) group by service_number) order by service_number
                                ) 
                                group by service_number, tour_price order by service_number
                            )aa left join (
                        select service_number, count(discount) dcnt from( select service_number, discount from tour_option where discount!=0) group by service_number
                        )bb on aa.service_number=bb.service_number
                    )
		                d on c.service_number = d.service_number
		            )f on e.cate_number=f.cate_number and e.service_number = f.service_number order by avgpoint desc
		)g join (select * from wishlist where user_id=#{user_id})h on g.cate_number = h.cate_number and g.service_number = h.service_number order by avgpoint desc
 	
 	</select>
 	
 	<select id="accomWishlist" parameterType="string" resultType="arJoin">
 		select accom_service_number,cate_number,accom_name,avgpoint,rcnt,min(accom_price) minp,max(accom_price) maxp
		from(
		select accom_service_number,accom_service.cate_number,accom_name,nvl(avg(star_point),0) avgpoint,count(review_number) rcnt 
		from accom_service left join review
		on accom_service_number=service_number and accom_service.cate_number=review.cate_number
		group by accom_service_number,accom_service.cate_number,accom_name
		having
		accom_service_number in(
		select accom_service_number from accom_option left join accom_book 
		on accom_option.accom_option_number = accom_book.accom_option_number)
        and accom_service_number in(
        select accom_service_number from accom_service join wishlist
        on accom_service_number=service_number where wishlist.cate_number in(2,3,4) and user_id=#{user_id}))natural join accom_option group by accom_service_number,cate_number,accom_name,avgpoint,rcnt
        order by accom_service_number
 	</select>
 	
 	<delete id="delete" parameterType="hashmap">
 		delete wishlist where cate_number=#{cate_number} and service_number=#{service_number} and user_id=#{user_id}
 	</delete>
  </mapper>