<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.spring.tour.vo.WishlistVo" alias="wishlist"/>
  	<typeAlias type="com.spring.tour.vo.TourPageVo" alias="tourpage"/>
  	<typeAlias type="com.spring.tour.vo.Accom_serviceVo" alias="accomService"/>
  	<typeAlias type="com.spring.tour.vo.AccomInfoVo" alias="accomInfo"/>
  	<typeAlias type="com.spring.tour.vo.AccomOptionVo" alias="accomOption"/>
  	<typeAlias type="com.spring.tour.vo.User_InfoVo" alias="userinfo"/>
  	<typeAlias type="com.spring.tour.vo.IdTokenVo" alias="idtoken"/>
  	<typeAlias type="com.spring.tour.vo.ImageVo" alias="image"/>
  </typeAliases>
  
  <!-- 읽어올 Mapper파일 설정 -->
	<mappers>
			<mapper resource="com/spring/tour/mapper/WishlistMapper.xml"/>
			<mapper resource="com/spring/tour/mapper/TourPageMapper.xml"/>
			<mapper resource="com/spring/tour/mapper/MypageMapper.xml"/>
			<mapper resource="com/spring/tour/mapper/AccomMapper.xml"/>

			<mapper resource="com/spring/tour/mapper/UserMapper.xml"/>

			<mapper resource="com/spring/tour/mapper/ServiceMapper.xml"/>

	</mappers>
</configuration>